.Container{
    display: flex;
    flex-direction: column;
    width: 350px;
    align-self: center;
    justify-content: center;
}
table td{
    border: 1px solid white;
    width: 100px;
    height: 100px;
}